/*Stuff I don't need to be responsive goes up here at the top*/

section {
  padding: 1rem;
}

main {
  overflow-y: auto;
}

@media (max-width: 992px) {
  .item {
    flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  /*At laptop and desktop sizes, this gives me that nice reversing of each item, looks pleasing aesthetically*/
  .two,
  .four {
    flex-direction: row-reverse;
  }
}

body {
  margin: 0;
  display: grid;
  /*OMG big learning: 1fr refers to the fraction of available space, not of total space, so below gives me fixed 300px sidebar and halves the remaining space */
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

header {
  /*The linear gradient gives it that darker-toward the bottom look*/
  background-image: linear-gradient(rgb(255 255 255 / 0%), rgb(0 0 0 / 87.5%)),
    url(./assets/images/me2.jpeg);
  background-size: cover;
  background-position: 28%;
  grid-row-start: 1;
  grid-row-end: -1;
  overflow-y: hidden;
}
#profile-content {
  position: relative;
  top: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0px 25px;
}
#profile-content > * {
  margin: 10px 0px;
  color: white;
  font-family: Work Sans, sans-serif;
}
#socials img {
  height: 25px;
  margin-right: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blurb {
  width: 70ch;
  text-align: center;
  font-size: larger;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.item-body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1rem;
}
.item-photo {
  /*This makes it so the item's photo takes up additional space, not the text.*/
  flex: 0 1 600px;
  /*Confused on this and need to fix later*/
  width: 600px;
  padding: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}

.item-blurb {
  width: 50ch;
  font-size: larger;
}

.title {
  margin-bottom: 0;
}

#professional {
  background-color: #d3e6ff;
}

#adventure {
  background-color: #b4d4ff;
}

#handiwork {
  background-color: #86b6f6;
}

#writing {
  background-color: #88adb9;
  padding-bottom: 2rem;
}

button {
  font-size: 1.5rem;
  color: white;
  background-color: #d47012;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}
