div {
  background-color: grey;
  height: 6rem;
  width: 6rem;
  font-size: 3rem;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

container {
  display: grid;
  gap: 5px;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
}

.user-highlighted,
.prompt2 {
  background-color: green;
  color: white;
}

.computer-highlighted,
.prompt1 {
  background-color: blue;
  color: white;
}

.hide {
  display: none;
}

.wrong {
  background-color: red;
}
